body {
    background: silver;
}

dl dd {
    margin-bottom: 1em;
}

dl dt {
    margin-bottom: 0.5em;
}

section {
    background: white;
    border: 1px solid black;
    border-radius: 8px;
    margin-bottom: 8px;
    min-width: 50em;
    padding: 8px;
    width: fit-content;
}

section h2 {
    margin-top: 0;
}

section fieldset {
    border: 0;
    display: flex;
    gap: 1em;
    margin-bottom: 8px;
    padding: 0;
}
